.Header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Header>header {
    font-size: calc(10px + 2vmin);
    color: #EDDBC7;
    padding: 10px;
}

.Header>button {
    justify-self: flex-end;
    align-self: center;
}

.Header-peach {
    background-color: #FFD4D4;
}

.Header-cofee {
    background-color: #A7727D;
}

.Header-blue {
    background-color: #7286D3;
}

.Header-navy {
    background-color: #567189;
}