.Header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Header>header {
    font-size: calc(10px + 2vmin);   
    padding: 10px;
}

.Header>button {
    justify-self: flex-end;
    align-self: center;
}

.Header-peach {
    background-color: #FFD4D4;
}

.Header-cofee {
    background-color: #A7727D;
}

.Header-blue {
    background-color: #7286D3;
}

.Header-navy {
    background-color: #567189;
}

.font-peach {
    color: #FFFFE8;
}

.font-cofee {
    color: #F8EAD8;
}

.font-blue {
    color: #E5E0FF;
}

.font-navy {
    color: #CFB997;
}