.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px; 
  background-color:#EDDBC7;

}

.App-header {
  background-color:#A7727D;
  font-size: calc(10px + 2vmin);
  color:#EDDBC7;
padding: 10px;
}

.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: fit-content;
  width: fit-content;
  font: bold15px arial, sans-serif;
  align-self: center;
  padding: 3px 10px;
  margin: 5px;
}