.ResultCards {    
    background-color: #93BFCF;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.ResultCards div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
