.login {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login strong {
    font-size: calc(15px + 1vmin);
    padding-bottom: 5px;
    color: grey;
}

.inputs {
    align-self: center;
    width: 150px;
    background-color: #F9F5E7;
    border: none;
    border-bottom: 2px solid #A7727D;
    margin: 5px;
}

.inputs:focus {
    border:none;
}