.login {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 50%;
}

.login strong:first-of-type {
    font-size: calc(15px + 1vmin);
    color: grey;
    border-bottom: 1px solid black;margin: 10px;
}

.inputs {
    align-self: center;
    width: 150px;
    background-color: #F9F5E7;
    border: none;
    border-bottom: 2px solid #A7727D;
    margin: 5px;
}

.inputs:focus {
    border: none;
}